<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>
    <noscript>This page use JavaScript. Please enable it in your browser</noscript>
    <h1>Contact Contoso Conferencing</h1>
    <p>Contoso Conferencing Ltd.</p>
    <p>123 South Tree<br/> Somewhere<br/>Over There<br/><em>USA</em></p>
    <p><a href="mailto:miguel_seus@hotmail.com">miguel_seus@hotmail.com</a></p>
    <p>If you would like to contact Contoso Conferencing, wheter you're interested in our services in a conference we're currently organising,
        don't hesitate to contact us using our enquiry form (<strong>Bold fields</strong> are required). 
    </p>
    <form method="POST" action="#">
        <fieldset>
            <legend>Your Details and Enquiry</legend>
            <ol>
                <li>
                    <label>
                        <strong>Name</strong><br/>
                        <input type="text" name="UserName"/>
                    </label>
                </li>
                <li>
                    <label>
                        <strong>Telephone</strong><br/>
                        <input type="text" name="Phone"/>
                    </label>
                </li>
                <li>
                    <label>
                        <strong>Email Address</strong><br/>
                        <input type="text" name="Email"/>
                    </label>
                </li>
                <li>
                    <label>
                        <strong>Message</strong><br/>
                        <textarea name="message" cols="30" rows="10" placeholder="Add your message here"></textarea>
                    </label>
                </li>
            </ol>
        </fieldset>
        <input type="submit" value="Send"/>
    </form>
    <script src="../Scripts/Contoso.js" type="text/javascript"></script>
</body>
</html>