<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../Content/Styles/ContosoHtml5.css"/>
</head>
<body>
    <article>
        <header>
            <!-- <img src="../Content/Images/descarga.png" alt="Company Logo" class="contosoLogo"/> -->
            <h1>Contact Contoso Conferencing</h1>
        </header>
        <section>
            <p>Contoso Conferencing Ltd.</p>
            <p>123 South Tree
                <br/> Somewhere
                <br/>Over There
                <br/>
                <em>USA</em>
            </p>
            <p>
                <a href="mailto:miguel_seus@hotmail.com">miguel_seus@hotmail.com</a>
            </p>
        </section>
        <section>
            <p>If you would like to contact Contoso Conferencing, wheter you're interested in our services in a conference we're currently
                organising, don't hesitate to contact us using our enquiry form (
                <strong>Bold fields</strong> are required).
            </p>
            <form method="POST">
                <fieldset>
                    <legend>Your Details and Enquiry</legend>
                    <ol>
                        <li>
                            <label>
                                <strong>Name</strong>
                                <br/>
                                <input type="text" name="UserName" />
                            </label>
                        </li>
                        <li>
                            <label>
                                <strong>Telephone</strong>
                                <br/>
                                <input type="text" name="Phone" />
                            </label>
                        </li>
                        <li>
                            <label>
                                <strong>Email Address</strong>
                                <br/>
                                <input type="text" name="Email" />
                            </label>
                        </li>
                        <li>
                            <label>
                                <strong>Message</strong>
                                <br/>
                                <textarea name="message" cols="30" rows="10" placeholder="Add your message here"></textarea>
                            </label>
                        </li>
                    </ol>
                </fieldset>
                <input type="submit" value="Send" />
            </form>
        </section>
    </article>
    <footer>
        <p>
            <small>
                Last updated
                <time datetime="2012-08">
                    August 2012
                </time>
            </small>
        </p>
    </footer>
</body>
</html>