<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>The Small Page</title>
        <link rel="stylesheet" type="text/css" href="../Content/Styles/Home.css"/>
        <style type="text/css">
            input[name|="en"]{
                background: green;
            }
        </style>
    </head>
    <body>
        <!--<h1>Introduction Elements</h1>
        <h2>The Beggning</h2>
        <p>
            Hola como estas espero no del todo mal, el tiempo paso
            mas de la cuenta creo yo, yo estoy solo aqui,
            como te va en el paris.
            <strong>Important is the phrase</strong>
            <em>emphasise good morning</em><br>
            <b>Bold test tag</b><br>
            <i>Information tag test</i>
        </p>
        <hr/>
        <p>
            The practice, is good form studies
            for the person, the code is next revolutions
        </p>
        <div>
            <h2>Unordered List example</h2>
            <ul>
                <li>Element 1 example</li>
                <li>Element 2 example</li>
                <li>Element 3 example</li>
            </ul>
            <h2>Ordered List Example</h2>
            <ol>
                <li>Best</li>
                <li>Apple</li>
                <li>Zeppeling</li>
            </ol>
            <h2>Definition List</h2>
            <dl>
                <dt>Sir teen Berners Lee</dt>
                <dd>Invented HTML</dd>
                <dt>Linus Torvalds</dt> 
                <dd>Originator of Linux</dd> 
                <dt>Charles Herzfeld</dt> 
                <dd>Authorized the creation of ARPANET, the predecessor of the Internet</dd> 
            </dl>
            <ol> 
                <li>Lesson One: Introduction to HTML 
                    <ol> 
                    <li>The structure of an HTML page</li> 
                    <li>Tags, Elements, Attributes and Content</li> 
                    <li>Text and Images</li> 
                    <li>Forms</li> 
                    </ol> 
                </li> 
                <li>Lesson Two: Introduction to CSS</li> 
                <li>Lesson Three: Using Visual Studio 2012</li> 
            </ol>
            <br/> 
            <a href="Link.html" target="_top">Prueba de enlace de skillpipe</a>
            <br/>
            <img src="../Content/Images/descarga.png" alt="example alt" title="title example" longdesc="prueba de descrionjgjkj"/>
        </div>-->
        <input type="text" name="test"/>
        <input type="text" name="prueba"/>
        <input type="text" name="sub sub redpop"/>
        <input type="text" name="sumit"/>
        <input type="text" name="unmi"/>
        <input type="text" name="subminacion"/>
        <input type="text" name="en-plop"/>
        <input type="text" name="entel" />
        <script type="text/javascript" src="../Scripts/Home.js"></script>
    </body>
</html> 