<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <header>
        <hgroup>
            <h1>My Best Recipes</h1>
            <h2>Test hgroup</h2>
        </hgroup>
        <p>My favorite recipes</p>        
    </header>
    <article>
        <h1>Beans of Toast</h1>
        <section>
            <h1>Ingredients</h1>
            <ul>
                <li>Beans</li>
                <li>Bread</li>
            </ul>
        </section>
        <section>
            <h1>Method</h1>
            <ol>
                <li>Toast Bread</li>
                <li>Heat Beans</li>
                <li>Put beans on the toast</li>
            </ol>
        </section>
    </article>
    <div>
        <figure>
            <img src="../Content/Images/descarga.png" alt="Probando test" />
            <figcaption>Logo de HTML</figcaption>
        </figure>
    </div>
    <footer>
        <small>
            Last updated on <time datetime="2012-08-12" id="datetime">Augutst 12, 2012</time>
            The next text is for test <mark>mark tag</mark>
        </small>
    </footer>
    <script type="text/javascript" src="../Scripts/Vendor/jquery-3.2.1.js"></script>
</body>
</html>