<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../Content/Styles/Validate.css" type="text/css"/>
</head>
<body>
    <header>
        <hgroup>
            <h1>validation Form Example</h1>    
        </hgroup>
    </header>
    <article>
        <form action="" method="POST" id="frmPerson">
            <div id="firstNameField" class="field">
                <label>First Name:</label>
                <input type="text" id="firstName" name="firstName" required placeholder="Your First Name"/>
                <span style="color: red;">*</span>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </article>
    <script type="text/javascript" src="../Scripts/jquery-3.2.1.js"></script>
</body>
</html>